
<mat-card [routerLink]="['/heroes', heroe.id ]" style="cursor:pointer">
    <mat-card-header>
        <mat-card-title> {{ heroe.name }} </mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="heroe | imagen">

    <mat-card-content>
        <p>
            <strong>Modificación</strong> {{ heroe.modified | date}}
            
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/heroes', heroe.id ]">
            Ver Detalles
        </button>
    </mat-card-actions>

</mat-card>
